.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.container{
    display: flex;
}
.backgroundImage{
    background-image:none;
    background-size: contain;
}
.items{
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    padding-left: 10px;
}
.items > div{
    width: 50px;
    height: 50px;
}
.items > div > img{
    width: 50px;
    height: 50px;
}
.rules{
    position: fixed;
    display: flex;
    left:15%;
    top:10%;
    background-color: burlywood;
    width: 300px;
    height: 380px;
}
.battleContainer{
    position: fixed;
    display: block;
    top:0%;
    left:0%;
    width: 730px;
    height: 600px;
    background-color: bisque;
}
.battlemap{
    position: fixed;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.battleItems{
    position: fixed;
    padding-left: 600px;
}
.close{
    position: fixed;
    padding-left: 705px;
}
body{
    background-color: AntiqueWhite;
}
.map{
    background-color: tan;
    padding :3px;
}
.alertbox{
    position: fixed;
    top:20%;
    left:30%;
    width: 400px;
    height:50px;
    background-color: red;
    border-radius: 15%;
    text-align: center;
    font-size: 200%;
}
.hide{
    display: none;
}
.grayish{
    opacity: 0.1;
    
}
.giveBorder{
    outline: solid 2px red;
    outline-offset: -2px;
}
